
<div class="container">
    <h3>Crear reseña</h3>
    <form class="form" action="submit" [formGroup]="formReview">
        <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" placeholder="Titulo" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="review" class="form-label">Reseña</label>
            <textarea class="form-control" id="review" rows="3" formControlName="review"></textarea>
          </div>
          <app-rating (emitir)="SetRating($event)"></app-rating>
          <button class="btn btn-option" (click)="AddReview()">Guardar reseña</button>
    </form>
