

.container {
    margin-top: 50px;
    width: 90%;
    height: 800px;
    border: #c6c6c6;
    text-align: center;
}

.image {
    width: 500px;

}

.btn-option {
    margin: auto;
    margin-top: 30px;
    display: block;
    background-color: #c6c6c6;
    color: #706f6f;
    width: 150px;
    font-size: 18px;
}

.btn-option:hover {
    font-size: 20px;
    width: 152px;
}

hr {
    border-color: #706f6f;
}
