.search {
    width: 50%;
    margin-left: 35%;
    display: inline-flex;
}

h4 {
    margin-top: 20px;
    text-align: center;
}

.paginador {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.row {
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

hr {
    padding: 10px;
    background-color: #c6c6c6;
}

.books {
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

a {
    width: 25%;
    color: #706f6f;
    text-decoration: none;
    font-size: 1rem;
}
